body{
    text-align: center;
    font-family: fantasy;
    background-color: rgb(225, 255, 177);
    
}
table{
    text-align: center;
}
#opcoes{
    
}
form{
    color: rgb(235, 0, 0);
}
#ID{
    color: aqua;
}